<ion-view view-title="Create Task">
      <ion-content>

        <div class="list list-inset">
          <!-- Task name-->
          <label class="item item-input">
            <input ng-model="homeCtrl.task.name" type="text" placeholder="Task Name">
          </label>{{task.name}}
          <!-- Time -->
          <div class="range">
                  <i class="icon ion-clock"></i> <span>{{homeCtrl.task.duration}}</span>
                  <input ng-model="homeCtrl.task.duration" type="range" name="duration"  min="5" max="30" step="5">
          </div>

          <div class="landscape-switch">
            <img 
              ng-class="{ selected: homeCtrl.task.landscape == homeCtrl.landscapeA}" 
              ng-click="homeCtrl.selectLandscape(homeCtrl.landscapeA)" 
              class="landscape landscape-a" 
              ng-src="thumbs/{{ homeCtrl.landscapeA }}.jpg">

            <img 
              ng-class="{ selected: homeCtrl.task.landscape == homeCtrl.landscapeB}" 
              ng-click="homeCtrl.selectLandscape(homeCtrl.landscapeB)" 
              class="landscape landscape-b" 
              ng-src="thumbs/{{ homeCtrl.landscapeB }}.jpg">
          </div>


          <!-- Volume -->
          <div class="range">
                  <i class="icon ion-music-note"></i>
                  <input type="range" name="balance" ng-model="homeCtrl.task.balance"  min="0" max="100" step="1">
                  <i class="icon ion-leaf"></i>
          </div>

          <div class="wrap-centered-button">
            <button ui-sref="landscape" ui-sref-opts="{ reload: true }" class="button button-positive">
              <i class="icon ion-play"></i>
            </button>
          </div>

        </div>
      </ion-content>
  </ion-view>